Source: oneconf
Section: python
Priority: extra
Build-Depends: debhelper (>= 7.0.50),
               lsb-release,
               gettext,
               intltool,
               python3,
               python3-distutils-extra,
               python3-nose,
Maintainer: Didier Roche <didrocks@ubuntu.com>
Standards-Version: 3.9.3

Package: oneconf
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-dbus,
         python3-oauth,
         python3-gi,
         python3-apt,
         ubuntu-sso-client,
         python3-piston-mini-client,
         #python-imaging,
Recommends: software-center (>= 4.1.21),
            update-notifier (>= 0.103),
Description: synchronize your configuration data over the network
 OneConf provides the ability to sync your computer's configuration data over
 the network.
 .
 It integrates nicely with the Ubuntu Software Center to compare sets of
 installed software between computers. A command line tool also provides for
 the same functionality.
